main .top-section {
  background: url(../top-section.png) no-repeat;
  background-size: contain;
  height: 120vh;
  width: 100%;
  display: block;
}
.top-section .top-sec-content {
  padding-top: 60px;
}
.top-section .top-sec-content .top-sec-text h1 {
  text-align: right;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 60px;
}
.top-section .top-sec-content .top-sec-text a {
  width: 40%;
  background-image: var(--main-gradiant);
  display: inline-block;
  padding: 10px 0px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
}
.top-section .top-sec-content .top-sec-text a:last-child {
  background: unset;
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 8px 0px;
}
.top-section .top-sec-content .top-sec-text span {
  margin: 0px 5px;
}
.top-section .top-sec-content .top-sec-img,
.top-section .top-sec-content .top-sec-img img {
  width: 100%;
}
.top-section .top-sec-content .scroll-down {
  width: 40px;
  display: block;
  margin: 70px auto 0px auto;
}
.top-section .top-sec-content .scroll-down img {
  width: 100%;
}
