/* Start Navbar */
header {
  background-color: #f8f8f8;
}
.navbar {
  background-color: #f8f8f8;
  background-image: var(--nav-gradiant);
  height: 90px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* logo */
.navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar-brand .nav-logo {
  width: 185px;
}
.navbar-brand .nav-logo img {
  width: 100%;
}
@media (max-width: 1199px) {
  .navbar-brand .nav-logo {
    width: 160px;
  }
}
@media (max-width: 991px) {
  .navbar {
    height: 75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .navbar-brand .nav-logo {
    width: 135px;
  }
  .navbar-light .navbar-toggler {
    background-color: #fff;
    font-size: 15px;
    padding: 3px 10px;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    background: linear-gradient(
      to top,
      rgba(43, 123, 165, 0.56),
      #75b1ce 12%,
      #b8e2f3
    );
    padding: 15px;
    top: 7px;
    position: relative;
  }
}
/* nav links */
.navbar-collapse .navbar-nav .nav-item {
  position: relative;
}
.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  filter: drop-shadow(0px 0px 5px #00000035);
}
.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  filter: drop-shadow(0px 0px 5px #00000080);
}
.navbar-collapse .navbar-nav .nav-item .nav-link.active::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid #fff;
  width: 30px;
  bottom: -3px;
  transition: 0.3s ease-in-out;
}
/* nav buttons */
.nav-btn a {
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 90px;
  box-shadow: var(--main-box-shadow);
  font-weight: normal;
  text-decoration: none;
}
.nav-btn a:hover {
  filter: drop-shadow(0px 0px 5px #00000035);
}
.nav-btn a:first-child {
  background-image: var(--main-gradiant);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px 0px;
}
.nav-btn a:last-child {
  border: 2px solid var(--main-color);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 6px 0px;
}
.nav-btn span {
  margin: 0px 5px;
}
@media (max-width: 1199px) {
  .nav-btn a {
    width: 80px;
    font-size: 15px;
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 992px) {
  .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-align: right;
    margin-bottom: 5px;
  }
  .nav-btn {
    float: right;
    margin-top: 10px;
  }
  .nav-btn a {
    width: 100px;
  }
}
/* End Navbar */
