main .top-section {
  background: url(../img/top-section.png) no-repeat;
  background-size: contain;
  height: 120vh;
  width: 100%;
  display: block;
}
.top-section .top-sec-content {
  padding-top: 60px;
}
.top-section .top-sec-content .top-sec-text h1 {
  text-align: right;
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 60px;
  line-height: 1.8;
}
.top-section .top-sec-content .top-sec-text a {
  width: 40%;
  background-image: var(--main-gradiant);
  display: inline-block;
  padding: 10px 0px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
}
.top-section .top-sec-content .top-sec-text a:last-child {
  background: unset;
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 8px 0px;
}
.top-section .top-sec-content .top-sec-text span {
  margin: 0px 5px;
}
.top-section .top-sec-content .top-sec-img,
.top-section .top-sec-content .top-sec-img img {
  width: 100%;
}
.top-section .top-sec-content .scroll-down {
  width: 40px;
  display: block;
  margin: 50px auto 0px auto;
}
.top-section .top-sec-content .scroll-down img {
  width: 100%;
}
@media (max-width: 1199px) {
  .top-section .top-sec-content .top-sec-text h1 {
    font-size: 52px;
    margin-bottom: 50px;
  }
  .top-section .top-sec-content .top-sec-text a {
    font-size: 16px;
  }
  .top-section .top-sec-content .scroll-down {
    margin: 45px auto 0px auto;
  }
}
@media (max-width: 992px) {
  main .top-section {
    background: unset;
    background-color: #f8f8f8;
    height: 160vh;
    border-bottom-right-radius: 115px;
    border-bottom-left-radius: 115px;
    margin-bottom: 50px;
  }
  .top-section .top-sec-content .top-sec-text h1 {
    text-align: center;
  }
  .top-section .top-sec-content .top-sec-text a {
    width: 48%;
  }
  .top-section .top-sec-content .top-sec-img {
    width: 70%;
    margin: 60px auto 0px auto;
    display: block;
  }
}
@media (max-width: 767px) {
  main .top-section {
    height: 140vh;
    margin-bottom: 50px;
  }
  .top-section .top-sec-content .top-sec-text h1 {
    font-size: 40px;
  }
  .top-section .top-sec-content .scroll-down {
    margin: 70px auto 0px auto;
  }
}
@media (max-width: 450px) {
  main .top-section {
    height: 700px;
    border-bottom-right-radius: 65px;
    border-bottom-left-radius: 65px;
  }
  .top-section .top-sec-content {
    padding-top: 45px;
  }
  .top-section .top-sec-content .top-sec-img {
    width: 80%;
  }
  .top-section .top-sec-content .top-sec-text h1 {
    font-size: 30px;
  }
  .top-section .top-sec-content .top-sec-text a {
    width: 47%;
    font-size: 14px;
  }
}
