main .top-section {
  margin-bottom: 0px !important;
}
.scroll-down {
  display: none !important;
}

/* Fillter */
.search-div {
  position: relative;
}
.search-div .search {
  position: relative;
  width: 60%;
  display: block;
  margin: auto;
  font-size: 20px;
  height: 80px;
  top: -50px;
  outline: unset;
  padding: 15px 75px 15px 30px;
  border: unset;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00000040;
  color: var(--second-text-color);
  font-weight: bold;
}
.search-div .search::placeholder {
  font-weight: normal;
}
.search-div img {
  position: absolute;
  right: 250px;
  top: -35px;
  z-index: 99999;
  height: 50px;
  width: 30px;
}
@media (max-width: 1199px) {
  .search-div .search {
    padding: 15px 60px 15px 30px;
    font-size: 18px;
    height: 70px;
  }
  .search-div img {
    right: 205px;
    top: -40px;
  }
}
@media (max-width: 992px) {
  .search-div .search {
    width: 90%;
  }
  .search-div img {
    right: 55px;
  }
}
@media (max-width: 767px) {
  .search-div img {
    right: 45px;
  }
}
@media (max-width: 500px) {
  .search-div .search {
    width: 90%;
    padding: 15px 50px 15px 30px;
    font-size: 14px;
    height: 60px;
  }
  .search-div img {
    right: 35px;
    top: -38px;
    height: 35px;
    width: 25px;
  }
}

.marketer {
  position: relative;
  margin: 30px 0px;
}

.marketer h6 {
  position: absolute;
  bottom: -25px;
  text-align: center;
  background: #fff;
  width: 225px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #00000050;
  z-index: 99;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--second-text-color);
  font-weight: bold;
  right: 50%;
  transform: translateX(50%);
  overflow: hidden;
}
.marketer-sec .marketer .marketer-card,
.marketer-sec .marketer .marketer-card img {
  width: 100%;
  overflow: hidden;
}
.marketer-sec .marketer .marketer-card:hover.marketer-card h6 {
  background-image: var(--main-gradiant);
  color: #fff;
}
.marketer-sec .marketer .marketer-card:hover.marketer-card img {
  transform: scale(1.2);
}
.marketer-sec .marketer .marketer-card {
  height: 250px;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #00000020;
  border: 1px solid #ddd;
  overflow: hidden;
}
.marketer-sec .show-more {
  margin: 50px auto;
}
.marketer-sec .show-more a {
  text-align: center;
  display: table;
  margin: auto;
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00000020;
  border: 1px solid var(--second-color);
}
.marketer-sec .show-more a:hover {
  background-image: var(--main-gradiant);
  color: #fff;
}
