header{
  background-color: #fff !important;
}
.item-details-sec,
.tabs-sec {
  margin: 50px 0px;
}
.follow-link {
  display: block;
  color: var(--third-text-color);
  margin-bottom: 50px;
}
.follow-link a {
  color: var(--main-color);
  text-decoration: underline;
}
.item-details-sec .item-slider .item-img-slider .item {
  position: relative;
}
.item-details-sec .item-slider .item-img-slider .item img {
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--main-box-shadow);
}
.item-details-sec .item-slider .item-img-slider .item .price {
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 0px 0px 5px #00000040;
  background: #fff;
  padding: 3px 7px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--main-color);
  font-size: 14px;
  transition: 0.3s ease-in-out;
  z-index: 99;
}
.item-details-sec .item-slider .item-img-slider .item .discount {
  position: absolute;
  right: 30px;
  top: 0;
  padding: 4px 15px;
  background: var(--third-color);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 0px 5px #00000040;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 99;
}
.owl-theme .owl-nav {
  margin-top: -10%;
}
.owl-carousel .owl-nav button {
  margin: 0;
}
.owl-carousel .owl-nav button.owl-next i,
.owl-carousel .owl-nav button.owl-prev i {
  position: absolute;
  color: var(--main-color);
  font-size: 35px;
  bottom: 50%;
  transform: translateY(50%);
  background: #fff;
  border-radius: 100%;
}
.owl-carousel .owl-nav button.owl-next i {
  left: -17px;
}
.owl-carousel .owl-nav button.owl-prev i {
  right: -17px;
}
.item-details-sec .item-slider .owl-theme .owl-nav [class*="owl-"]:hover {
  background: unset;
  color: unset;
}
.item-details-sec .item-info {
  position: relative;
}
.item-details-sec .item-info .fav i {
  position: absolute;
  top: 0px;
  left: 15px;
  font-size: 35px;
  color: var(--main-color);
}
.item-details-sec .item-info h4 {
  font-weight: bold;
  color: var(--main-text-color);
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 25px;
  line-height: 1.7;
  width: 90%;
}
.item-details-sec .item-info h6 {
  color: var(--second-text-color);
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 2.5;
}
.item-details-sec .item-info span,
.item-details-sec .item-info p {
  font-size: 19px;
  color: var(--main-text-color);
  margin: 10px;
}
.item-details-sec .item-info p {
  display: inline-block;
}
.item-details-sec .price-before {
  text-decoration: line-through;
}
.item-details-sec .price-after {
  font-weight: bold;
}
.item-details-sec .arrow-icon {
  color: var(--main-color);
}
.item-details-sec .item-info .buy-btn {
  position: absolute;
  bottom: 0;
  background: var(--main-gradiant);
  color: #fff;
  font-weight: bold;
  padding: 8px 40px;
  font-size: 16px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00000050;
  text-decoration: none;
}
hr {
  width: 80%;
}
.nav-pills {
  margin: 0px 0px 30px 0px;
  padding: 0;
}
.nav-pills .nav-item {
  margin: auto;
}
.nav-pills .nav-item .nav-link {
  border-radius: 0.25rem;
  color: var(--third-text-color);
  background-color: unset;
  padding: 15px;
  font-weight: bold;
  border-radius: 0;
  font-size: 20px;
  margin: auto;
  display: block;
  width: 100%;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: unset;
  color: var(--second-text-color);
}
.tab-content {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
@media (max-width: 992px) {
  .owl-theme .owl-nav {
    margin: 0;
  }
  .owl-carousel .owl-nav button.owl-next i {
    left: -10px;
    font-size: 25px;
  }
  .owl-carousel .owl-nav button.owl-prev i {
    font-size: 25px;
    right: -10px;
  }
  .item-details-sec .item-info .buy-btn {
    position: unset;
    margin-top: 20px;
  }
  .nav-pills .nav-item .nav-link,
  .tab-content {
    font-size: 16px;
  }
}
