<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>قسيمة | من نحن</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <main class="about-page">

        <!-- main top section for all pages -->

        <div class="top-section">
            <div class="container">
                <div class="row top-sec-content">
                    <div class="col-lg-6">
                        <div class="top-sec-text">
                            <h1>
                                <span class="main-color">قسائم تخفيضات</span>
                                لجميع الخدمات
                                في مكان واحد
                            </h1>
                            <a href="sign-up-customer.html">سجل الان</a>
                            <span></span>
                            <a href="marketer.html">المسوقين</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top-sec-img">
                            <img loading="lazy" src="../assets/img/about.png" alt="image">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="scroll-down">
                            <a href="#"><img loading="lazy" src="../assets/img/scroll-down.png" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Info Section For About Page -->

        <div class="about-info-sec">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="about-text">
                            <h2>
                                موقع وتطبيق قسيمة
                            </h2>
                            <h6>
                                يقوم بترويج العروض والقسائم المقدمة من الشركات بمشاركة المسوقين في التواصل الاجتماعي
                                لتلبية رغباتكم في كثير من الخدمات
                                ترفيهية و طبية و غيرها
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="../assets/img/about-img.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Vision & Mission Section For About Page -->

        <div class="goals-sec">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="vision">

                            <img src="../assets/img/about-vision.png" alt="">
                            <h4>الرؤية</h4>
                            <p>
                                انتاج فكر جديد للبيع والشراء المخفض
                                وأن العروض مالها وقت أو حد!
                            </p>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mission">

                            <img src="../assets/img/about-mission.png" alt="">
                            <h4>الهدف</h4>
                            <p>
                                عروض وتخفيضات طوال السنة
                                في جميع خدماتنا في كل الزمان و المكان
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/main.js"></script>
    
</body>

</html>