<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قسيمة | اشتري الان</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/header.css">

    <link rel="stylesheet" href="../assets/css/buy-now-sections.css">

    <link rel="stylesheet" href="../assets/css/footer.css">
</head>

<body>

    <main>

        <!-- Title Section For Buy Now Page -->

        <div class="title-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <h1>
                            اتمام الشراء
                        </h1>
                        <h4>
                            اتمام الشراء
                        </h4>
                        <hr>

                    </div>

                </div>
            </div>
        </div>

        <!-- Selling Item Card For Buy Now Page -->

        <div class="selling-item-sec">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-2"></div>

                    <div class="col-lg-6 col-md-8">

                        <div class="container">

                            <a href="one-item.html" class="row selling-item-card">

                                <div class="col-sm-4 card-right">
                                    <img src="../assets/img/item1.png" alt="">
                                    <span class="discount">40%</span>
                                </div>

                                <div class="col-sm-8 card-left">
                                    <p>جلسة إزالة الشعر بالليزر لكامل الجسم</p>
                                    <p><i class="fas fa-hand-holding-usd"></i> <span class="price-before">500</span>
                                        ريال <i class="arrow-icon fas fa-long-arrow-alt-left"></i> <span
                                            class="price-after">300</span> ريال </p>
                                    <p><i class="fas fa-user"></i> نور محمد</p>
                                    <p><i class="fas fa-home"></i> مشفى المميز الطبي</p>
                                </div>

                            </a>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-2"></div>
                </div>
            </div>
        </div>


        <hr><!-- item invoice For Buy Now Page -->

        <div class="invoice-sec">
            <div class="container">
                <div class="row">

                    <div class="col-lg-1"></div>

                    <div class="col-lg-10">


                        <div class="invoice-card">

                            <div class="container">

                                <div class="row">

                                    <div class="col-md-3 col-6">
                                        <p class="price-title">قيمة العرض</p>
                                        <p>300 ريال</p>
                                    </div>

                                    <div class="col-md-3 col-6">
                                        <p class="price-title">المبلغ الجزئي</p>
                                        <p>69 ريال</p>
                                    </div>

                                    <div class="col-md-3 col-6">
                                        <p class="price-title">المبلغ المتبقي</p>
                                        <p>231 ريال</p>
                                    </div>

                                    <div class="col-md-3 col-6">
                                        <p class="total-price">اجمالي الفاتورة</p>
                                        <p class="total-price-value">69 ريال</p>
                                    </div>

                                    <hr>

                                    <div class="col-sm-9">
                                        <p class="notify">يتم الدفع في بوابة دفع خارجية خاصة بالبنك لحماية بياناتك و
                                            معلوماتك</p>
                                    </div>

                                    <div class="col-sm-3">
                                        <a class="buy-now" href="#">اتمام الشراء</a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-1"></div>

                </div>
            </div>
        </div>


    </main>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

</body>

</html>