<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>قسيمة | تواصل معنا</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <main>
        <!-- Title Section For Contact Us Page -->

        <div class="title-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <h1>
                            تواصل معنا
                        </h1>
                        <h4>
                            تواصل معنا
                        </h4>
                        <hr>

                    </div>

                </div>
            </div>
        </div>

        <!-- Contact Form Section For Contact Us Page -->

        <div class="contact-sec">
            <div class="container">

                <div class="row">

                    <div class="col-lg-2"></div>

                    <div class="col-lg-8">

                        <div class="contact-form">

                            <form action="post">

                                <div class="row">
                                    <div class="col-lg-6 right-side">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="">الاسم</label>
                                                <input name='name' type="text" placeholder="مثال : احمد" required>
                                            </div>
                                            <div class="col-12 center-row">
                                                <label for="">البريد الالكتروني</label>
                                                <input name="email" type="email" placeholder="مثال : email@gmail.com"
                                                    required>
                                            </div>
                                            <div class="col-12">
                                                <label for="subject">الموضوع</label>
                                                <select name="subject" id="subject" required>
                                                    <option disabled selected>اختر</option>
                                                    <option value="0">دعم فني</option>
                                                    <option value="1">استفسار - شركة</option>
                                                    <option value="2">استفسار - عميل</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 left-side">
                                        <div class="row">
                                            <div class="col-12 center-phone-row">
                                                <label for="">الرسالة</label>
                                                <textarea name='message' placeholder="ضع رسالتك هنا..." id=""
                                                    required></textarea>
                                            </div>
                                            <div class="col-12 submit-form">
                                                <button type="submit">ارسال</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>

                    <div class="col-lg-2"></div>

                </div>

            </div>
        </div>


    </main>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/main.js"></script>

</body>

</html>