<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Footer</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <footer>
        <div class="footer-bg">
            <div class="container">
                <div class="row footer-content">
                    <!-- link  -->
                    <div class="footer-links col-md-4">
                        <div class="row">
                            <ul class="col-6">
                                <h3>الموقع</h3>
                                <li><a href="../index.html">الرئيسية</a></li>
                                <li><a href="../about-us.html">من نحن</a></li>
                                <li><a href="../marketer.html">المسوقين</a></li>
                            </ul>
                            <ul class="col-6">
                                <h3>الدعم</h3>
                                <li><a href="../terms-conditions.html">الشروط والاحكام</a></li>
                                <li><a href="../contact-us.html">تواصل معنا</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- logo -->
                    <div class="col-md-4 logo-col">
                        <a href="../index.html" class="footer-logo"></a>
                    </div>
                    <!-- payments -->
                    <div class="col-md-4">
                        <div class="footer-payments">
                            <div class="app">
                                <h3 class="app-text">تطبيق قسيمة</h3>
                                <div class="app-icons">
                                    <a href="https://play.google.com/store/apps/details?id=com.qsimh.coupon" target="_blank"><img src="../assets/img/android.png" alt=""></a>
                                    <a href="https://apps.apple.com/sa/app/%D9%82%D8%B3%D9%8A%D9%85%D8%A9-qsima/id1545388975?l=ar" target="_blank"><img src="../assets/img/ios.png" alt=""></a>
                                </div>
                            </div>
                            <div class="pay">
                                <h3 class="pay-text">وسائل الدفع</h3>
                                <div class="payments-icons"></div>
                            </div>
                        </div>
                    </div>
                    <!-- footer bottom -->
                    <div class="col-12">
                        <div class="footer-bottom">
                            <hr>
                            <div class="maroof-div">
                                <a class="maroof" href="https://maroof.sa/143518" target="_blank"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-6 rights">
                                    <p>جميع الحقوق محفوظة</p>
                                </div>
                                <div class="col-md-6 icons">
                                    <a href="https://www.snapchat.com/add/%E2%81%A6qsimh" target="_blank">
                                        <i class="snapchat fab fa-snapchat-ghost"></i>
                                    </a>
                                    <a href="https://twitter.com/qsimh_sa" target="_blank">
                                        <i class="twitter fab fa-twitter"></i>
                                    </a>
                                    <a href="https://www.instagram.com/qsimh/" target="_blank">
                                        <i class="instagram fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/js/main.js"></script>

</body>

</html>