<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Header</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">

                <!--Start logo -->
                <a class="navbar-brand" href="#">
                    <div class="nav-logo"><img src="../assets/img/main-logo.png" alt=""></div>
                </a>
                <!--End Logo -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav mx-auto my-2 my-lg-0 p-0 navbar-nav-scroll">

                        <!-- Start Nav Links -->
                        <li class="nav-item">
                            <a class="nav-link active" href="#">الرئيسية <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">المسوقين</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">من نحن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">تواصل معنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">الشروط و الاحكام</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#">التسجيل</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#">الدخول</a>
                        </li>
                        <!-- End Nav Links -->

                    </ul>


                    <!-- Start Nav Buttons -->
                    <div class="nav-btn d-lg-block d-none">

                        <a class="sign-btn" href="#">التسجيل</a>
                        <span></span>
                        <a class="sign-btn" href="#">الدخول</a>

                    </div>
                    <!-- End Nav Buttons -->

                    <!-- Start My Account Button - After Login -->

                    <div class="nav-btn">

                        <div class="btn-group">

                            <button type="button" class="my-acc btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><img src="../assets/img/my-acc.svg" alt=""></span> حسابي </button>

                            <div class="dropdown-menu dropdown-menu-right text-right">

                                <!-- Customer -->

                                <a class="dropdown-item" href="../customer-home.html"><span><img src="../assets/img/info.svg" alt=""></span> البيانات </a>

                                <a class="dropdown-item" href="../customer-home.html"><span><img src="../assets/img/money.svg" alt=""></span> التعاملات المالية </a>

                                <a class="dropdown-item" href="../customer-home.html"><span><img src="../assets/img/fav.svg" alt=""></span> المفضلة </a>

                                <!-- Company -->

                                <a class="dropdown-item" href="../company-home.html"><span><img src="../assets/img/info.svg" alt=""></span> البيانات </a>

                                <a class="dropdown-item" href="../company-home.html"><span><img src="../assets/img/discount.svg" alt=""></span> القسائم </a>

                                <a class="dropdown-item" href="../company-home.html"><span><img src="../assets/img/money.svg" alt=""></span> التعاملات المالية </a>

                                <!-- Famous -->

                                <a class="dropdown-item" href="../famous-home.html"><span><img src="../assets/img/info.svg" alt=""></span> البيانات</a>

                                <a class="dropdown-item" href="../famous-home.html"><span><img src="../assets/img/discount.svg" alt=""></span> القسائم</a>

                                <a class="dropdown-item" href="../famous-home.html"><span><img src="../assets/img/money.svg" alt=""></span> التعاملات المالية</a>

                                <!-- Logout -->

                                <a onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="dropdown-item" href="{{ route('logout') }}"><span><img src="../assets/img/logout.svg" alt=""></span> تسجيل الخروج </a>
                                <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;"> @csrf </form>


                            </div>
                        </div>

                    </div>

                    <!-- End My Account Button -->

                </div>
            </div>
        </nav>
    </header>

    <script src="../assets/js/main.js"></script>

</body>

</html>