<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Header</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">

    <link rel="stylesheet" href="../assets/css/header.css">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">

                <!--Start logo -->
                <a class="navbar-brand" href="#">
                    <div class="nav-logo"><img src="../assets/img/main-logo.png" alt=""></div>
                </a>
                <!--End Logo -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav mx-auto my-2 my-lg-0 p-0 navbar-nav-scroll">

                        <!-- Start Nav Links -->
                        <li class="nav-item">
                            <a class="nav-link active" href="#">الرئيسية <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">المسوقين</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">من نحن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">تواصل معنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">الشروط و الاحكام</a>
                        </li>
                        <!-- End Nav Links -->

                    </ul>
                    <!-- Start Nav Buttons -->
                    <div class="nav-btn">

                        <a href="#">التسجيل</a>
                        <span></span>
                        <a href="#">الدخول</a>

                    </div>
                    <!-- End Nav Buttons -->
                </div>
            </div>
        </nav>
    </header>



    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!--Start Active Class For Links -->
    <script>
        'use strict';
        $('.navbar li a').click(function () {
            $(this).addClass('active').parent().siblings().find('a').removeClass('active');
        });
    </script>
    <!--End Active Class For Links -->

</body>

</html>