<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/top-section.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
</head>

<div class="home-first-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="home-first-slider owl-carousel owl-theme">

                    <div class="item">
                        <div class="row">
                            <div class="col-md-6"><img src="../assets/img/home-first-sec.png" alt=""></div>
                            <div class="col-md-6">
                                <h1>موقع وتطبيق قسيمة</h1>
                                <h4>
                                    يقوم بترويج العروض والقسائم المقدمة من الشركات بمشاركة المسوقين في التواصل الاجتماعي
                                    لتلبية رغباتكم في كثير من الخدمات
                                    ترفيهية و طبية و غيرها
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-6"><img src="../assets/img/home-first-sec.png" alt=""></div>
                            <div class="col-md-6">
                                <h1>موقع وتطبيق قسيمة</h1>
                                <h4>
                                    يقوم بترويج العروض والقسائم المقدمة من الشركات بمشاركة المسوقين في التواصل الاجتماعي
                                    لتلبية رغباتكم في كثير من الخدمات
                                    ترفيهية و طبية و غيرها
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-6"><img src="../assets/img/home-first-sec.png" alt=""></div>
                            <div class="col-md-6">
                                <h1>موقع وتطبيق قسيمة</h1>
                                <h4>
                                    يقوم بترويج العروض والقسائم المقدمة من الشركات بمشاركة المسوقين في التواصل الاجتماعي
                                    لتلبية رغباتكم في كثير من الخدمات
                                    ترفيهية و طبية و غيرها
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">omar</div>
                            <div class="col-md-6">omar</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">omar</div>
                            <div class="col-md-6">omar</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">omar</div>
                            <div class="col-md-6">omar</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- for slider sections -->

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });
</script>