<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Home Section</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/main-home-section.css">
    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
</head>

    <main>

        <!-- main top section -->

        <div class="top-section">
            <div class="container">
                <div class="row top-sec-content">
                    <div class="col-lg-6">
                        <div class="top-sec-text">
                            <h1>
                                <span class="main-color">قسائم تخفيضات</span>
                                لجميع الخدمات
                                في مكان واحد
                            </h1>
                            <a href="#">سجل الان</a>
                            <span></span>
                            <a href="#">المسوقين</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top-sec-img">
                            <img src="../assets/img/home-labtop.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="scroll-down">
                            <a href="#"><img src="../assets/img/scroll-down.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
