<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>السكشن المتكرر</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <main>
        <!-- Main Top Section -->

        <div class="top-section">
            <div class="container">
                <div class="row top-sec-content">
                    <div class="col-lg-6">
                        <div class="top-sec-text">
                            <h1>
                                <span class="main-color">قسائم تخفيضات</span>
                                لجميع الخدمات
                                في مكان واحد
                            </h1>
                            <a href="sign-up-customer-sections.html">سجل الان</a>
                            <span></span>
                            <a href="marketer-sections.html">المسوقين</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top-sec-img">
                            <img loading="lazy" src="../assets/img/home-labtop.png" alt="image">
                            <!-- <img loading="lazy" src="../assets/img/marketer.png" alt="image">   Marketer  -->
                            <!-- <img loading="lazy" src="../assets/img/about.png" alt="image">   About Us  -->
                            <!-- <img loading="lazy" src="../assets/img/contact.png" alt="image">   Contact Us  -->
                            <!-- <img loading="lazy" src="../assets/img/terms.png" alt="image">   Terms & Conditions  -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="scroll-down">
                            <a href="#"><img src="../assets/img/scroll-down.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="../assets/js/main.js"></script>

</body>

</html>