<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>قسيمة | المسوقين</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <main class="marketer-page">

        <!-- main top section for all pages -->

        <div class="top-section">
            <div class="container">
                <div class="row top-sec-content">
                    <div class="col-lg-6">
                        <div class="top-sec-text">
                            <h1>
                                <span class="main-color">قسائم تخفيضات</span>
                                لجميع الخدمات
                                في مكان واحد
                            </h1>
                            <a href="sign-up-customer.html">سجل الان</a>
                            <span></span>
                            <a href="marketer.html">المسوقين</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top-sec-img">
                            <img loading="lazy" src="../assets/img/marketer.png" alt="image">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="scroll-down">
                            <a href="#"><img loading="lazy" src="../assets/img/scroll-down.png" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search Section For Items Page -->

        <div class="search-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="search-div">
                            <img src="../assets/img/search.svg" alt="">
                            <input type="text" class="search" id="marketer-search" onkeyup="searchFunction()"
                                placeholder="ابحث عن المسوق">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Marketer Section For Items Page -->

        <div class="marketer-sec">
            <div class="container">
                <div class="row">
                    <div class="marketer col-lg-4 col-md-6">

                        <a href="items.html" class="marketer-card">
                            <img src="../assets/img/billgates.jpg" alt="">
                            <h6>عمر احمد السيد</h6>
                        </a>

                    </div>
                    <div class="marketer col-lg-4 col-md-6">

                        <a href="items.html" class="marketer-card">
                            <img src="../assets/img/man-marketer.png" alt="">
                            <h6>علي احمد عبدالله النوبي السيد جمال</h6>
                        </a>

                    </div>
                    <div class="marketer col-lg-4 col-md-6">

                        <a href="items.html" class="marketer-card">
                            <img src="../assets/img/man-marketer.png" alt="">
                            <h6>صالح احمد السيد</h6>
                        </a>

                    </div>
                    <div class="marketer col-lg-4 col-md-6">

                        <a href="items.html" class="marketer-card">
                            <img src="../assets/img/man-marketer.png" alt="">
                            <h6>محمد احمد السيد</h6>
                        </a>

                    </div>
                    <div class="marketer col-lg-4 col-md-6">

                        <a href="items.html" class="marketer-card">
                            <img src="../assets/img/man-marketer.png" alt="">
                            <h6>جمال احمد السيد</h6>
                        </a>

                    </div>
                    <div class="marketer col-lg-4 col-md-6">

                        <a href="items.html" class="marketer-card">
                            <img src="../assets/img/man-marketer.png" alt="">
                            <h6>علي احمد السيد</h6>
                        </a>

                    </div>

                    <div class="col-12">
                        <div class="show-more">
                            <a href="#">عرض المزيد</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>

    <script src="../assets/js/main.js"></script>

</body>

</html>