<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>قسيمة | سحب الارباح</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">

                <!--Start logo -->
                <a class="navbar-brand" href="index.html">
                    <div class="nav-logo"><img loading="lazy" src="../assets/img/main-logo.png" alt="image"></div>
                </a>
                <!--End Logo -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav mx-auto my-2 my-lg-0 p-0 navbar-nav-scroll">

                        <!-- Start Nav Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="marketer.html">المسوقين</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about-us.html">من نحن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact-us.html">تواصل معنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="terms-conditions.html">الشروط و الاحكام</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="sign-up-customer.html">التسجيل</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="sign-in.html">الدخول</a>
                        </li>
                        <!-- End Nav Links -->

                    </ul>
                    <!-- Start Nav Buttons -->
                    <div class="nav-btn d-lg-block d-none">

                        <a class="sign-btn" href="sign-up-customer.html">التسجيل</a>
                        <span></span>
                        <a class="sign-btn" href="sign-in.html">الدخول</a>

                    </div>
                    <!-- End Nav Buttons -->
                </div>
            </div>
        </nav>
    </header>

    <main class="signup-company-page pull-money-page">

        <!-- Title Section For Pull Money Page -->

        <div class="title-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            طلب سحب الارباح
                        </h1>
                        <h4>
                            طلب سحب الارباح
                        </h4>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <!--  Pull Money Form Section For Pull Money Page -->

        <div class="form-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">

                        <form class="was-validated" action="post">

                            <div class='row'>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <label for="">الاسم الثلاثي</label>
                                        <input class="form-name is-invalid form-control" name="famous_name" placeholder="الاسم" type="text" required>
                                    </div>
                                    <div class="box">
                                        <label for="">رقم الأيبان</label>
                                        <input class="is-invalid form-control" name="famous_iban" type="text" required>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box box-top">
                                        <label for="">اسم البنك</label>
                                        <input class="form-name is-invalid form-control" name="famous_bank_name" placeholder="البنك" type="text" required>
                                    </div>
                                    <div class="box">
                                        <label for="">المبلغ المراد سحبه <span class="red-notify">(اقل مبلغ يمكن سحبه 250 ر.س)</span></label>
                                        <input class="is-invalid form-control" name="famous_money" placeholder="250" type="number" min="250" max="10000" required>
                                    </div>
                                </div>

                                <div class="col-lg-3"></div>

                                <div class="col-lg-6 form-bottom">

                                    <div class="alert alert-danger" role="alert">
                                        <ul>
                                            <li>
                                                يجب ان تضيف الاسم
                                            </li>
                                            <li>
                                                يجب ان تضيف الاسم
                                            </li>
                                            <li>
                                                يجب ان تضيف الاسم
                                            </li>
                                            <li>
                                                يجب ان تضيف الاسم
                                            </li>
                                        </ul>
                                    </div>

                                    <button type="submit">قدم الان</button>
                                </div>

                                <div class="col-lg-3"></div>

                            </div>

                        </form>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="footer-bg">
            <div class="container">
                <div class="row footer-content">
                    <!-- link  -->
                    <div class="footer-links col-md-4">
                        <div class="row">
                            <ul class="col-6">
                                <h3>الموقع</h3>
                                <li><a href="#">الرئيسية</a></li>
                                <li><a href="#">من نحن</a></li>
                                <li><a href="#">المسوقين</a></li>
                            </ul>
                            <ul class="col-6">
                                <h3>الدعم</h3>
                                <li><a href="#">الشروط والاحكام</a></li>
                                <li><a href="#">تواصل معنا</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- logo -->
                    <div class="col-md-4 logo-col">
                        <a href="#" class="footer-logo"></a>
                    </div>
                    <!-- payments -->
                    <div class="col-md-4">
                        <div class="footer-payments">
                            <div class="app">
                                <h3 class="app-text">تطبيق قسيمة</h3>
                                <div class="app-icons">
                                    <a href="#"><img src="../assets/img/android.svg" alt=""></a>
                                    <a href="#"><img src="../assets/img/ios.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="pay">
                                <h3 class="pay-text">وسائل الدفع</h3>
                                <div class="payments-icons"></div>
                            </div>
                        </div>
                    </div>
                    <!-- footer bottom -->
                    <div class="col-12">
                        <div class="footer-bottom">
                            <hr>
                            <div class="maroof-div">
                                <a class="maroof" href="#"></a>
                            </div>
                            <div class="row">
                                <div class="col-md-6 rights">
                                    <p>جميع الحقوق محفوظة</p>
                                </div>
                                <div class="col-md-6 icons">
                                    <a href="#">
                                        <i class="snapchat fab fa-snapchat-ghost"></i>
                                    </a>
                                    <a href="#">
                                        <i class="twitter fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="instagram fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/js/main.js"></script>
</body>

</html>