<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قسيمة | التسجيل للعملاء</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/header.css">

    <link rel="stylesheet" href="../assets/css/sign-up-customer-sections.css">

    <link rel="stylesheet" href="../assets/css/footer.css">
</head>

<body>

    <main>

        <!-- Title Section For Buy Now Page -->

        <div class="title-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <h1>
                            التسجيل للعملاء
                        </h1>
                        <h4>
                            التسجيل للعملاء
                        </h4>
                        <hr>

                    </div>

                </div>
            </div>
        </div>

        <!-- Form Section For Sign Up Page -->

        <div class="form-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        
                        <form action="post">

                            <div class='row'>


                                <div class="col-lg-6">
                                    <div class="box">
                                        <label for="name">الاسم</label>
                                        <input name="customer-name" class="form-name" placeholder="مثال : علي"
                                            type="text" required>
                                    </div>
                                    <div class="box">
                                        <label for="">رقم الهاتف</label>
                                        <input name="customer-number" placeholder="+966123456789" type="number"
                                            required>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <label for="">البريد الالكتروني</label>
                                        <input name="customer-email" placeholder="email@gmail.com" type="email"
                                            required>
                                    </div>
                                    <div class="box">
                                        <label for="">كلمة المرور</label>
                                        <input name="customer-password" placeholder="********" type="password" required>
                                    </div>
                                </div>

                                <div class="col-lg-3"></div>

                                <div class="col-lg-6 form-bottom">

                                    <input type="checkbox" name="terms" id="terms">
                                    <label class="checkbox-label" for="terms">موافق علي <a
                                            href="terms-conditions.html">الشروط و
                                            الاحكام</a></label>

                                    <button type="submit">التسجيل</button>

                                    <hr>

                                    <div class="row">

                                        <div class="col-lg-6 have-acc">
                                            <h6> هل لديك حساب ؟ </h6>
                                            <a class="sign-up-btn" href="sign-in.html"> تسجيل الدخول </a>
                                        </div>

                                        <div class="col-lg-6 signup-company">
                                            <h6> هل انت تاجر ؟ </h6>
                                            <a class="sign-up-btn" href="sign-up-company.html"> التسجيل للتجار </a>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-3"></div>

                            </div>

                        </form>

                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>

    </main>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

</body>

</html>