<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>قسيمة | الدخول</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <main>

        <!-- Title Section For Buy Now Page -->

        <div class="title-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <h1>
                            تسجيل الدخول
                        </h1>
                        <h4>
                            تسجيل الدخول
                        </h4>
                        <hr>

                    </div>

                </div>
            </div>
        </div>

        <!-- Login Form Section For Login Page -->

        <div class="form-sec">
            <div class="container">

                <form action="post">

                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">

                            <div class="box">

                                <label for="">البريد الالكتروني</label>
                                <input name="email" placeholder="email@gmail.com" type="email" required>

                            </div>

                            <div class="box">

                                <label for="">كلمة المرور</label>
                                <input name="password" placeholder="********" type="password" required>

                            </div>

                            <input type="checkbox" name="remeber" id="remeber" required>
                            <label class="checkbox-label" for="remeber">تذكرني</label>

                            <button type="submit">الدخول</button>

                            <a class="forget" href="#"> نسيت كلمة المرور ؟ </a>

                            <hr>

                            <h6> ليس لديك حساب ؟ </h6>

                            <a class="sign-up-btn" href="sign-up-customer.html"> التسجيل </a>

                        </div>
                        <div class="col-lg-4"></div>
                    </div>

                </form>

            </div>
        </div>

    </main>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/main.js"></script>

</body>

</html>