<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> قسيمة | الشروط و الاحكام للمسوقين</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <main class="terms-page">

        <!-- Rules Terms and Conditions Section For Terms and Conditions Page -->

        <div class="rules-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="public-rules">

                            <div class="box">
                                <h5 id="section-1" class="rule-title">الشروط والأحكام الخاصة للمسوقين لمنتجات التجار عبر
                                    موقع قسيمة</h5>

                                <hr>

                                <p>

                                    يرجى قراءة الشروط والأحكام هذه بعناية تامة قبل استخدامك قسيمة، حيث أنها تحدد شروط
                                    تسويق المسوقين لمنتجات التجار المعروضة
                                    على الموقع بتسجيلك كـ("مسوق") عبر قسيمة، فأنت توافق على الالتزام بالشروط والأحكام
                                    هذه، وفي حال عدم موافقتك عليها؛ فلا يجوز لك
                                    استخدام الموقع أو الاستفادة من خدماته

                                </p>
                                <ul>

                                    <li>معلومات عن الموقع</li>
                                    <p>
                                        يقدم موقع قسيمة خدمة تسويق منتجات التجار المعروضة عبر الموقع، والمطبق عليها
                                        خصومات وكوبونات شرائية يشار إلى موقع قسيمةوفقًا للأحكام والشروط هذه بلفظ:
                                        ("قسيمة" أو "الموقع" أو "نحن" أو "‏الخاص بنا" أو "لنا"). ويشار إلى
                                        المسوقين بلفظ: ("المسوق" أو "أنت")
                                    </p>

                                    <li>التسجيل في صفحات المسوقين</li>
                                    <p>
                                        من أجل القدرة على تسويق منتجات التجار، فإنه يجب عليك كمسوق الحصول على صفحة خاصة
                                        بك على موقع قسيمة، تتضمن على ("اسم
                                        المستخدم") و("كلمة ‏المرور"). مع العلم بأن أي صفحة يتم ‏تسجيلها هي صفحة خاصة
                                        وحصرية لك
                                        وغير ‏قابلة للتحويل إلى أي طرف ثالث. وتتحمل وحدك ‏مسؤولية الحفاظ على أمان اسم
                                        المستخدم وكلمة ‏المرور بالتسجيل فإنك تضمن أن المعلومات التي قدمتها في سياق
                                        ‏عملية التسجيل صحيحة ودقيقة، دون استخدام اسم زائف أو انتحال صفة بالتسجيل فإنك
                                        تتعهد بتحديث معلوماتك بشكل يبقيها ‏صحيحة، وتوافق على قبول المسؤولية ‏عن جميع
                                        الأنشطة التي تحدث ضمن صفحتك بالتسجيل فإنك تقر بأن موقع قسيمةهو حلقة وصل بينك
                                        وبين التاجر بغرض تسويق منتجاته بالتسجيل فإنك تقر بالتقيد بجميع الأنظمة
                                        والتعليمات السارية في المملكة العربية السعودية
                                    </p>

                                    <li>آلية تسويق منتجات التجار عبر صفحات المسوقين</li>
                                    <p>
                                        فور قيام المسوق بإنشاء صفحته على موقع قسيمة، فإنه يحق لكل تاجر أن يتقدم له بطلب
                                        تسويق منتج معين صادر بشأنه كوبون خصم على
                                        صفحته الخاصة بالموقع لا يلزم المسوق عقب موافقته على طلب التاجر، أن يقوم بعرض
                                        وإظهار المنتج وكوبون الخصم على صفحته في وسائل التواصل الاجتماعي
                                        علماً ان العرض على صفحته الخاصه عائدا للمسوق
                                    </p>

                                    <li>محظورات التسويق</li>
                                    <p>
                                        لا يجوز للمسوق الإساءة إلى الموقع أو التاجر أو منتجاته بأي طريقة كانت لا يجوز
                                        للمسوق القيام بأي عمل من شأنه الإخلال بأنظمة حفظ سرية معلومات وبيانات الموقع أو
                                        التاجر، أو كشف أو إستعمال أي
                                        بيانات أو معلومات لأي أسباب أو أعمال غير متعلقة بتسويق المنتجات عبر صفحته
                                    </p>

                                    <li>حدود المسؤولية</li>
                                    <p>
                                        يقر المسوق بأن موقع قسيمة هو مجرد وسيط بينه وبين التجار لتسويق وبيع منتجاتهم
                                        مقابل عمولة محددة فقط
                                    </p>

                                    <li>طريقة الشراء من صفحة المسوق</li>
                                    <p>
                                        يتاح لأي عميل الدخول على صفحة المسوق بالموقع، والتقدم بطلب شراء المنتج، وفقًا
                                        لنموذج الطلب المعد من الموقع بعد قيام العميل بتأكيد طلب الشراء وسداد قيمة
                                        المنتج، يقوم الموقع بتوجيه اخطار مشترك للمسوق بعملية البيع عند تفعيلها
                                    </p>

                                    <li>العمولات ومستحقات المسوق</li>
                                    <p>
                                        يستحق المسوق نسبة وقدرها عشرة بالمئة ( 10% ) من قيمة المنتجات التي قام بتسويقها
                                        وبيعها عن طريقه، على أن تحسب تلك النسبة
                                        من قيمة كل عملية بيع تامه يتم تحويل قيمة المبلغ لعمولات المسوق على حسب طلب
                                        المسوق على ان يتم كل عشرة ايام طلب واحد يلزم المسوق القيام بعمل طلبات سحب
                                        الارباح من خلال لوحة التحكم الخاصه به يحق للموقع خصم رسوم التحويلات البنكية أو
                                        أية رسوم تفرضها الجهات الحكومية أو البنكية من القيمة الإجمالية لعمولات المسوق
                                    </p>

                                    <li>التسجيل في صفحات المسوقين</li>
                                    <p>
                                        من أجل القدرة على تسويق منتجات التجار، فإنه يجب عليك كمسوق الحصول على صفحة خاصة
                                        بك على موقع قسيمة، تتضمن على ("اسم
                                        المستخدم") و("كلمة ‏المرور"). مع العلم بأن أي صفحة يتم ‏تسجيلها هي صفحة خاصة
                                        وحصرية لك
                                        وغير ‏قابلة للتحويل إلى أي طرف ثالث. وتتحمل وحدك ‏مسؤولية الحفاظ على أمان اسم
                                        المستخدم وكلمة ‏المرور بالتسجيل فإنك تضمن أن المعلومات التي قدمتها في سياق
                                        ‏عملية التسجيل صحيحة ودقيقة، دون استخدام اسم زائف أو انتحال صفة بالتسجيل فإنك
                                        تتعهد بتحديث معلوماتك بشكل يبقيها ‏صحيحة، وتوافق على قبول المسؤولية ‏عن جميع
                                        الأنشطة التي تحدث ضمن صفحتك بالتسجيل فإنك تقر بأن موقع قسيمةهو حلقة وصل بينك
                                        وبين التاجر بغرض تسويق منتجاته بالتسجيل فإنك تقر بالتقيد بجميع الأنظمة
                                        والتعليمات السارية في المملكة العربية السعودية
                                    </p>

                                    <li>حذف صفحة المسوق</li>
                                    <p>
                                        يجوز للمسوق التقدم بطلب حذف صفحاته في أي وقت، وبشرط تسوية تعاملاته المالية. على
                                        أن لا يحق للمسوق الإنتقال إلى موقع أو
                                        منصة أو تطبيق الكتروني مشابه لموقع قسيمةكليًا أو جزئيًا؛ إلا بعد مرور ثمانية
                                        أشهر من تاريخ طلب الحذف.
                                    </p>

                                    <li>النظام المطبق والولاية القضائية</li>
                                    <p>
                                        تخضع الأحكام والشروط هذه وتفسر وفقًا لأنظمة المملكة العربية السعودية
                                    </p>

                                    <li>التغييرات على هذه الشروط والأحكام</li>
                                    <p>
                                        تخضع هذه الشروط والأحكام لتحديثات وتغييرات مستمرة حسب الحاجة يصبح أي تعديل أو
                                        تحديث لأي من هذه الشروط والأحكام نافذاً فور اعتماده من قِبلنا؛ علماً أن قسيمة
                                        ملزم بإخطاركم عند حدوث أي
                                        تحديث على هذه الشروط
                                    </p>

                                    <li>الإخطارات</li>
                                    <p>
                                        يتم تقديم وإرسال كافة الإخطارات والمراسلات بين الموقع المسوق فيما يتعلق بهذه
                                        الأحكام والشروط عبر مراسلتنا على الرقم
                                        الخاص بهم
                                    </p>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="../assets/js/main.js"></script>

</body>

</html>