<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>قسيمة | الشروط و الاحكام</title>

    <link rel="shortcut icon" href="../assets/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>

    <main class="terms-page">
        <!-- Shortlist Section For Terms and Conditions Page -->

        <div class="shortlist-sec">



        </div>

        <!-- Rules Terms and Conditions Section For Terms and Conditions Page -->

        <div class="rules-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="public-rules">

                            <div class="box">
                                <h5 class="rule-title">شروط و احكام عامة</h5>

                                <hr>

                                <p>

                                    شكرًا لزيارتكم موقع ("قسيمة")
                                    <br>
                                    يرجى قراءة هذه الأحكام والشروط بعناية تامة قبل استخدامك الموقع، حيث توفر الحماية لنا
                                    ولعملائنا الكرام ولأي زائر يستخدم
                                    الموقع بدخولك أو استخدامك للموقع، فأنت توافق على الالتزام بأحكام وشروط الاستخدام هذه
                                    في حال عدم
                                    موافقتك على أحكام وشروط الاستخدام فلا يجوز لك استخدام الموقع

                                </p>
                                <ul>
                                    <li>معلومات عن الموقع</li>
                                    <p>
                                        يعد موقع ("قسيمة") بمثابة وسيط بين عملائها لشراء بعض منتجات البائعين - المشار
                                        إليهم بلفظ: ("البائع" أو "التاجر" أو
                                        "التجار" أو "المشترك ") – المعروضة عبر حسابتهم على الموقع، والمطبق بشأنها خصومات
                                        وقسائم
                                        يشار إلى موقع ("قسيمة") وفقًا للأحكام والشروط هذه بلفظ: ("[قسيمة]" أو "الموقع"
                                        أو "نحن" أو "‏الخاص بنا" أو "لنا")
                                        يشار إليك كعميل وفقًا للأحكام والشروط هذه بلفظ: ("أنت" أو "لك" أو "عليك" أو
                                        "الخاص بك")
                                    </p>

                                    <li>التغييرات في الأحكام والشروط</li>
                                    <p>
                                        قد نقوم بتغيير أحكام وشروط الاستخدام هذه من وقت لآخر سوف يتم اعتبار أي من هذه
                                        التغييرات سارية المفعول في اليوم الذي يتم
                                        فيه النشر على الموقع؛ لذا يجب عليك قراءة الشروط والسياسات في كل مرة تقوم فيها
                                        بالدخول
                                        على الموقع، أو تسجيل حساب، أو تستخدم الخدمات التي تقدمها ("قسيمة")
                                    </p>

                                </ul>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">التسجيل وحساب المستخدم</h5>

                                <hr>

                                <p>

                                    من أجل القدرة على استخدام الموقع والتقدم بطلب شراء منتجات البائعين، يجب عليك التسجيل
                                    وإنشاء حساب يتضمن على ("اسم
                                    المستخدم") و("كلمة ‏المرور")، مع العلم بأن أي حساب يتم ‏تسجيله هو حساب شخصي وحصري لك
                                    وغير ‏قابل للتحويل
                                    على أن تتحمل وحدك ‏مسؤولية الحفاظ على أمان اسم المستخدم وكلمة ‏المرور
                                    لتصبح ("مستخدم مسجل") يجب عليك ‏تقديم معلومات صحيحة ودقيقة منها على سبيل المثال لا
                                    الحصر ما يلي: (الاسم،‏ ، ، عنوان
                                    البريد ‏الإلكتروني، رقم الجوال الشخصي، ) على النحو المطلوب خلال عملية إنشاء ‏الحساب
                                    بالتسجيل واستخدام‎ موقع ("قسيمة") فإنك تضمن أن المعلومات التي قدمتها في سياق ‏عملية
                                    التسجيل صحيحة ودقيقة، دون استخدام
                                    اسم زائف أو انتحال صفة شخص آخر
                                    بالتسجيل واستخدام‎ موقع ("قسيمة") فإنك تضمن عدم الكشف عن اسم المستخدم وكلمة المرور
                                    لحسابك الشخصي إلى طرف ثالث أو السماح
                                    إلى طرف ثالث باستخدام الحساب للوصول إلى الخدمات الخاصة بالمستخدمين المسجلين
                                    بالتسجيل واستخدام‎ موقع ("قسيمة") فإنك تتعهد بتحديث معلوماتك الشخصية بشكل يبقيها
                                    ‏صحيحة، ومسؤوليتك عن الحفاظ على سرية
                                    ‏الحساب الخاص بك، وتوافق على قبول المسؤولية ‏عن جميع الأنشطة التي تحدث ضمن حسابك
                                    نحن نحتفظ بالحق في رفض التسجيل، أو تعديل الدخول، أو إيقاف حسابك بشكل مؤقت، أو إنهاء
                                    ‏الحساب بشكل نهائي في أي وقت وفقًا
                                    لتقديرنا ودون سابق إنذار

                                </p>

                            </div>

                            <div class="box">
                                <h5 class="rule-title">خدمات الموقع</h5>

                                <hr>

                                <p>

                                    يقدم موقع ("قسيمة") لعملائه خدمة شراء بعض منتجات البائعين المعروضة عبر حسابات
                                    المسوقين في الموقع تتميز منتجات البائعين
                                    بتطبيق خصومات وقسائم على الموقع

                                </p>
                                <ul>
                                    <li>شرائك لمنتجات البائعين</li>
                                    <p>
                                        من المعلوم للعميل بأن ("قسيمة") موقع إلكتروني يتم من خلاله بيع وشراء المنتجات
                                        بين العميل والمشتري المسجلين بالموقع من
                                        خلال صفحة المسوق
                                        من المعلوم للعميل بأن موقع ("قسيمة") يتم من خلاله سداد قيمة مشترياتك عبر بطاقات
                                        الائتمان أو أي خدمة سداد متاحة على
                                        الموقع
                                        من المعلوم للعميل بأن ("قسيمة") طريقة السداد تتم فيه مجزءة يتم دفع جزء وبعد
                                        الحجز سوف تقوم بدفع المبلغ المتبقي عند حضورك
                                        للموعد
                                        من المعلوم لدى العميل بأن مدة الاسترجاع تتم خلال سبع ايام حسب شروط وزارة التجارة
                                        بشرط انه لم يقم بالاستفادة من القسيمة
                                        المشتراه
                                        من المعلوم للعميل انه في حال اراد استرجاع المبلغ سيتم استرداده عبر طريقة الدفع
                                        الذي قام بها
                                    </p>

                                    <li>استخدام البطاقات الإئتمانية</li>
                                    <p>
                                        من المعلوم للعميل قيام ("الموقع ") بشراء شهادة SSL سعيًا منها لحماية المدفوعات
                                        وبطاقات الإئتمان والعمليات المالية التي
                                        تتم من خلالها، ومن أجل ذلك
                                        يقر العميل بأن الدفع ببطاقات الإئتمان و/أو الفيزا و/أو ماستر كارد يجب أن يكون
                                        باستخدام بطاقات شخصية تعود إليه فقط
                                        يقر العميل بعدم جواز استخدام بطاقات الإئتمان و/أو الفيزا و/أو ماستر كارد غير
                                        مملوكة له أو غير مفوض باستخدامها أو منتهية
                                        الصلاحية أو غير معلوم مصدرها أو مفقوده أو مسروقة
                                        يقر العميل بتحمله كامل المسؤولية المالية والقانونية تجاه ("قسيمة") والبائعين
                                        والغير الناتجة عن مخالفة شروط وأحكام
                                        استخدام البطاقات الإئتمانية
                                    </p>

                                </ul>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">حقوق الملكية الفكرية</h5>

                                <hr>

                                <p>

                                    إن موقع ("قسيمة") وما يحتويه من صور وشعارات وتصاميم وأسماء وعلامات تجارية مسجلة أو
                                    غير مسجلة هي ملك للموقع ملكية فردية
                                    وحصرية، ولا يحق لأي جهة أو أي فرد استخدامها بأي شكل من الأشكال
                                    لا يوجد في هذا الموقع ما يمكن تفسيره على أنه يمنح أي ترخيص أو حق لاستخدام أي علامة
                                    تجارية معروضة على الموقع دون الحصول
                                    على إذن خطي من مالك العلامة التجارية ذات الصلة، علمًا بأن إساءة استخدام أي من
                                    العلامات التجارية
                                    المعروضة بالموقع أو التعدي عليها أمر ممنوع منعًا باتً

                                </p>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">الروابط الخارجية</h5>

                                <hr>

                                <p>

                                    لا يتضمن موقع ("قسيمة") أية روابط خارجية سواء تتعلق بمواقع البائعين أو الغير

                                </p>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">إخلاء المسؤولية</h5>

                                <hr>

                                <p>

                                    في حال حدوث أي أخطاء في محتوى الموقع أو المنتجات المعروضة عبر حسابات البائعين، فإن
                                    موقع ("قسيمة") سوف يعمل جاهدًا على حل
                                    تلك الأخطاء بحلول ترضي تطلعات العميل
                                    على الرغم من أننا نسعى إلى ضمان أن تكون المعلومات المذكورة بالموقع والمنتجات
                                    المعروضة من حسابات البائعين دقيقة وحديثة؛
                                    إلا أن موقع ("قسيمة") لا يتحمل أي ‏مسؤولية عن أي أخطاء في المحتوى أو أي من المنتجات
                                    المعروضة عبر
                                    حسابات البائعين، تجاهك أو تجاه أي طرف آخر
                                    يحتفظ موقع ("قسيمة") بالحق في جميع الأوقات بالإفصاح ‏عن أي معلومات قد تقدمها لنا من
                                    خلال الموقع، إلى ممثلينا القانونيين
                                    وإلى البائعين، ‏أو أي سلطة نظامية في المملكة العربية السعودية

                                </p>
                                <ul>
                                    <li>التعديلات</li>
                                    <p>
                                        نحن نحتفظ بحقنا في تغيير أي محتوى على الموقع ‏بما في ذلك أحكام وشروط الاستخدام
                                        دون أي ‏إخطار سوف يكون أحدث إصدار من
                                        الشروط ‏وسياسة الاستخدام متاحًا دائمًا على ‏الموقع
                                    </p>

                                    <li>الإخطارات</li>
                                    <p>
                                        يجوز تسليم أي إخطارات بموجب أحكام وشروط ‏الاستخدام إليك إلكترونيًا، ويعتبر هذا
                                        الإخطار ‏ساريًا
                                        يمكن تسليم الإخطارات إلينا إلكترونيا ‏على صفحة التواصل معنا
                                    </p>

                                    <li>استمرار سريان البنود</li>
                                    <p>
                                        إذا وجدت محكمة أو جهة حكومية ما في المملكة العربية السعودية أن ‏أي جزء من الشروط
                                        غير قابل ‏للتنفيذ أو غير ساري، فيعتبر
                                        هذا الجزء محذوفًا، ‏وستظل بقية البنود سارية المفعول بأقصى حد ‏مسموح به بموجب
                                        الأنظمة المعمول بها
                                    </p>
                                </ul>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">الأنظمة المعمول بها والاختصاص</h5>

                                <hr>

                                <p>

                                    تسري هذه الشروط على استخدامك للموقع، وتتوافق ‏مع الأنظمة المعمول بها في المملكة
                                    العربية ‏السعودية

                                </p>
                            </div>

                        </div>

                        <div>
                            <hr>
                            <h2>
                                باستخدام الموقع، فإنك ‏توافق صراحة على الأنظمة المعمول بها‏ واختصاص محاكم المملكة
                                العربية
                                ‏السعودية
                                على أحكام وشروط الاستخدام، وأي نزاع على ‏محتوى الموقع يخضع للاختصاص الحصري ‏للمحاكم في
                                المملكة من المملكة العربية السعودية ‏بغض النظر عن موقعك الجغرافي
                            </h2>
                            <hr>
                        </div>

                        <div class="company-rules">

                            <div class="box">
                                <h5 class="rule-title">شروط المشتركين</h5>

                                <hr>

                                <p>

                                    يرجى قراءة الشروط والأحكام هذه بعناية تامة قبل استخدامك [قسيمة ]، حيث أنها تحدد شروط
                                    عرض وبيع منتجاتك عبر الموقع
                                    بتسجيلك كـ("مشترك") عبر [ قسيمة ]، فأنت توافق على الالتزام بالشروط والأحكام هذه، وفي
                                    حال عدم موافقتك عليها؛ فلا يجوز لك
                                    استخدام الموقع

                                </p>
                                <ul>
                                    <li>معلومات عن الموقع</li>
                                    <p>
                                        يرجى قراءة الشروط والأحكام هذه بعناية تامة قبل استخدامك [قسيمة ]، حيث أنها تحدد
                                        شروط عرض وبيع منتجاتك عبر الموقع
                                        بتسجيلك كـ("مشترك") عبر [ قسيمة ]، فأنت توافق على الالتزام بالشروط والأحكام هذه،
                                        وفي حال عدم موافقتك عليها؛ فلا يجوز لك
                                        استخدام الموقع
                                    </p>
                                </ul>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">التسجيل وحساب المستخدم كمشترك</h5>

                                <hr>

                                <p>

                                    من أجل القدرة على عرض وبيع منتجاتك، يجب عليك التسجيل وإنشاء حساب على موقع [قسيمة ]،
                                    يتضمن على ("اسم المستخدم")
                                    و("كلمة ‏المرور") والموقع و رقم هاتف ، مع العلم بأن أي حساب يتم ‏تسجيله هو حساب خاص
                                    وحصري لك وغير ‏قابل للتحويل إلى أي
                                    طرف ثالث، على أن تتحمل وحدك ‏مسؤولية الحفاظ على أمان اسم المستخدم وكلمة ‏المرور.‏
                                    بالتسجيل فإنك تضمن أن المعلومات التي قدمتها في سياق ‏عملية التسجيل صحيحة ودقيقة، دون
                                    استخدام اسم زائف أو انتحال صفة
                                    بالتسجيل فإنك تتعهد بتحديث معلوماتك بشكل يبقيها ‏صحيحة، ومسؤوليتك عن الحفاظ على سرية
                                    ‏الحساب الخاص بك، وتوافق على قبول
                                    المسؤولية ‏عن جميع الأنشطة التي تحدث ضمن حسابك
                                    بالتسجيل فإنك تقر بأن موقع [ قسيمة ] هو حلقة وصل بينك وبين المشتري بغرض بيع وشراء
                                    سلعتك ومنتجاتك
                                    بالتسجيل فإنك تقر بالتقيد بجميع الأنظمة والتعليمات السارية في المملكة العربية
                                    السعودية وتقديم جميع التراخيص المطلوبة
                                    نحن نحتفظ بالحق في رفض الخدمة، أو تعديل الدخول، أو إيقاف الحسابات بشكل مؤقت، أو
                                    إنهاء ‏الحسابات بشكل نهائي، أو إلغاء
                                    الطلبات في أي وقت وفقًا لتقديرنا ودون سابق إنذار

                                </p>
                                <ul>
                                    <li>شروط قيام المشترك بعرض منتجاته عبر حسابه</li>
                                    <p>
                                        يجب على المشترك إضافة اسم المنتج أو الخدمة بوضوح، وإضافة وصف دقيق له دون أي
                                        تلاعب بالمسميات أو الألفاظ
                                        يجب على المشترك العلم بأن صلاحية الخصم على منتجاته مرتبطة بتاريخ شراء العميل،
                                        وليس بتاريخ إضافة العرض
                                        يجب على المشترك العلم بإن أقل مدة يتم الاستفادة من القسيمة هي ثلاثين يوم من
                                        تاريخ شراء العميل للقسيمة
                                    </p>

                                    <li>المنتجات الممنوع عرضها</li>
                                    <p>
                                        المنتجات غير المرخصة من الجهات الحكومية داخل المملكة العربية السعودية
                                        المنتجات التي تثير العنصرية ومختلف أنواع الكره والعداء
                                        المنتجات المنافية للأداب والأخلاق أو ذات الإيحاءات الجنسية
                                        أي منتج يتم حظر بيعه قانونيًا في المملكة العربية السعودية
                                    </p>

                                </ul>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">حدود مسؤوليتنا قسيمة و المسوقين</h5>

                                <hr>

                                <p>

                                    يقر المشترك بأن موقع [ قسيمة ] بمشاركة المسوقين هم مجرد وسطاء لعرض منتجاته
                                    يقر المشترك بخلو مسؤوليتنا عن عدم صحة محتوى ووصف المنتجات والمعلومات المرفقة في
                                    حسابه على الموقع
                                    يقر المشترك بخلو مسؤوليتنا عن كافة الأضرار أو المطالبات أو الشكاوى أو الملاحقات
                                    القانونية أو المالية المقدمة من العميل
                                    أو الغير بشأن منتجاته سواء قبل أو أثناء أو بعد عملية البيع
                                    يقر المشترك بتحمله كامل المسؤولية تجاه الموقع والعميل والغير حال كانت المنتجات
                                    المعروضة أو المباعة غير مطابقة للمواصفات
                                    والإشتراطات
                                    يقر المشترك بعلاقته المباشرة مع العميل بشأن طلبات إرجاع أو استبدال المنتجات المباعة،
                                    دون أي مسؤولية على الموقع، وفي حال
                                    تحقق إرجاع المنتج للمشترك، فلا يجوز بأي حال مطالبة الموقع بإرجاع نسبة عمولته من ذلك
                                    المنتج

                                </p>
                                <ul>
                                    <li>طريقة الشراء</li>
                                    <p>
                                        يتاح لأي عميل الدخول على تقدم بطلب شراء منتج معين، وفقًا لنموذج الطلب المعد من
                                        الموقع
                                        بعد قيام العميل بتأكيد طلب الشراء وسداد قيمة المنتج، يقوم الموقع بإرسال إشعار له
                                        يتضمن قسيمة الشراء وبيانات مقر المشترك
                                        يقوم الموقع بإخطار المشترك بمعلومات العميل ورقم الطلب وبياناته وقسيمة الشراء
                                    </p>
                                    <li>طريقة الدفع</li>
                                    <p>
                                        يتم إجراء عملية شراء منتجات المشترك من العميل عبر الدفع للموقع باستخدام بطاقات
                                        الإئتمان أو أي خدمة سداد متاحة عبر الموقع
                                        فور قيام العميل بسداد قيمة طلب الشراء، والتأكد من وصول القيمة لحسابات الموقع،
                                        فيلتزم الأخير بإرسال إشعار إلى العميل
                                        يتضمن قسيمة الشراء وفقًا للموضح في طريقة الشراء
                                    </p>
                                    <li>العمولات ومستحقات المشترك</li>
                                    <p>
                                        يستحق موقع [قسيمة ] نسبة وقدرها محدةة حسب كل تصنيف من قيمة كل منتج مباع، على أن
                                        تحسب تلك النسبة من قيمة المنتج وفقًا
                                        للمعروض بحساب المشترك
                                        يتم تحويل قيمة المبلغ الإجمالي لمبيعات المشترك المدونة بمحفظته الإلكترونية على
                                        حسابه البنكي
                                        يحق للموقع خصم رسوم التحويلات البنكية أو أية رسوم تفرضها الجهات الحكومية أو
                                        البنكية من القيمة الإجمالية لمبيعات المشترك
                                    </p>
                                    <li>الحملات التسويقية</li>
                                    <p>
                                        لموقع [قسيمة ] الحق ومطلق الحرية باختيار أي من المشترك أو المنتجات المعروضة على
                                        الموقع لأغراض تسويقية، ومن ذلك استخدام
                                        اسم المشترك ومتجره والمنتج
                                    </p>
                                    <li>حذف حساب المشترك</li>
                                    <p>
                                        يجب على المشترك عند حذف حسابه على الموقع تقديم الخدمة للعملاء الذين قاموا
                                        بالشراء حسب الشروط المخصصه للقسيمة
                                    </p>
                                </ul>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">النظام المطبق والولاية القضائية</h5>

                                <hr>

                                <p>

                                    تخضع الأحكام والشروط هذه وتفسر وفقًا لأنظمة المملكة العربية السعودية
                                    في حال وجود نزاع بشأن الأحكام والشروط هذه فتختص محاكم مدينة الرياض حصرًا بالفصل في
                                    هذا النزاع

                                </p>
                                <ul>
                                    <li>التغييرات على هذه الشروط والأحكام</li>
                                    <p>
                                        تخضع هذه الشروط والأحكام لتحديثات وتغييرات مستمرة حسب الحاجة
                                        يصبح أي تعديل أو تحديث لأي من هذه الشروط والأحكام نافذاً فور اعتماده من قِبلنا
                                        وسوف تحصل على تحديث عبر الايميل او احدى
                                        الوسائل كالايميل او المكالمه الهاتفيه
                                    </p>

                                    <li>الإخطارات</li>
                                    <p>
                                        يتم تقديم وإرسال كافة الإخطارات والمراسلات بين الموقع والمشترك فيما يتعلق بهذه
                                        الأحكام والشروط عبر مراسلتنا على البريد
                                        الإلكتروني: ( من خلال صفحة تواصل معنا )
                                        في حال استلام أي إخطار بعد الساعة (6:00) مساءً أو في يوم خارج أيام العمل الرسمي،
                                        فيتم اعتبار وقت استلام الإخطار الساعة
                                        (8:00) صباحًا من يوم العمل التالي
                                    </p>

                                </ul>
                            </div>
                        </div>

                        <div>
                            <hr>
                        </div>

                        <div class="privacy-rules">

                            <div class="box">
                                <h5 class="rule-title">سياسة الخصوصية</h5>

                                <hr>

                                <p>

                                    إن موقع ("[قسمية]") ملتزم بحماية خصوصيتك وضمان تمتعك بتجربة إيجابية، كما يبذل
                                    إدارة الموقع كل جهودهم لتقديم خدمة ذات
                                    جودة عالية لكل المستخدمين والعملاء، وتعتبر سياسة الخصوصية هذه جزءً لا يتجزأ من
                                    أحكام
                                    وشروط استخدام الموقع. إذا قمت بإعطائنا معلومات شخصية بما فيها معلومات الاتصال
                                    الخاصة بك، وأي معلومات أخرى تتيح لنا
                                    إمكانية التعرف على هويتك وتقديم خدماتنا إليك، سنعامل تلك المعلومات وفقًا لهذه
                                    السياسة
                                    يجب عليك قراءة سياسة الخصوصية لضمان معرفتك بممارسات الخصوصية لدى موقع
                                    ("[قسمية]")، كما يجب عليك الإطلاع بشكل مستمر على
                                    هذه السياسة لمعرفة أية تحديثات تتم عليها، علمًا بأن موقع ("[قسمية]") غير مطالب
                                    بالإعلان عن أية تحديثات تتم على تلك السياسة
                                    يُعد استخدامك لأي من الخدمات المباشرة المتاحة في هذا الموقع بمثابة موافقة ضمنية
                                    على هذه البنود وما يحدث عليها من تعديلات
                                    من وقت لآخر، وإذا كنت لا توافق على هذه البنود، يرجى عدم الدخول إلى موقع
                                    ("[قسمية]")
                                    وعدم استخدام أي من الخدمات المباشرة المتاحة في هذا الموقع
                                    في بيان الخصوصية نشير إلى موقع ("[قسمية]") بالكلمات التالية: ("الخاص/الخاصة بنا،
                                    نحن، لنا، وإلينا")، ونشير إليك بالكلمات
                                    التالية: ("أنت، الخاصة بك")

                                </p>
                                <ul>
                                    <li>نطاق سياسة الخصوصية</li>
                                    <p>
                                        تنطبق سياسة الخصوصية هذه على كافة البيانات والمعلومات الشخصية المستخدمة من
                                        خلال موقع ("[قسمية]")، ومن ثم فإن أية روابط
                                        أو مراجع لتطبيقات أو لمواقع الكترونية أخرى لا تغطيها هذه السياسة، ولذلك فأنت
                                        وحدك المسؤول
                                        عن أي تفاعلات قد تقوم بها مثل هذه التطبيقات أو المواقع الالكترونية
                                    </p>
                                </ul>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">المعلومات الشخصية</h5>

                                <hr>

                                <p>

                                    إذا كنت تستخدم موقع ("[قسمية]") فسوف يطلب منك معلوماتك الشخصية مثل: ("الاسم، الجوال،
                                    عنوان البريد الإلكتروني، بيانات
                                    البطاقة الائتمانية، وغيرها من المعلومات الأساسية")، وبذلك فإنك توافق على احتفاظنا
                                    بتلك المعلومات وذلك عن طريقنا
                                    أو عن طريق التجار أو عن طريق خدمات منشأة تكون طرفًا يقوم بمعالجة هذه المعلومات
                                    بالنيابة عنّا. ولتحسين جودة خدماتنا
                                    وكفاءة أنظمتنا؛ فإننا قد نستخدم معلوماتك الشخصية من وقت لآخر، خلال تأهيل الموظفين و/
                                    أو اختبار النظام
                                    البطاقات الإائتمانية لن يتم حفظها أو بيعها أو مشاركتها أو إلى أي جهة أخرى

                                </p>
                                <ul>
                                    <li>تحديث المعلومات الشخصية</li>
                                    <p>
                                        يمكنك في أي وقت أن تعدّل أو تصحح أو تلغي معلوماتك الشخصية عن طريق حسابك في
                                        الموقع، وفي حال عدم تمكنك من القيام بذلك؛
                                        فيجب الاتصال بنا وإبلاغنا بذلك
                                    </p>

                                    <li>حماية المعلومات الشخصية</li>
                                    <p>
                                        سوف يسعى موقع ("[قسمية]") لاتخاذ الإجراءات والتدابير اللازمة للمحافظة على حماية
                                        معلوماتك الشخصية التي توفرها عبر
                                        استخدامك لهذا الموقع
                                    </p>
                                    <li>كيف نستخدم معلوماتك الشخصية</li>
                                    <p>
                                        خصوصيتك هامة بالنسبة لنا وقد أعددنا سياسة الخصوصية هذه بهدف الحفاظ على معلوماتك
                                        والاحتفاظ بثقتك واحترام حقك في حماية
                                        معلوماتك الشخصية، وسوف نستخدم معلوماتك للرد على الاستفسارات وتلبية الطلبات
                                        ولإرسال المعلومات الإدارية ولتقديم
                                        وإنجاز عمليات تقييم وشراء الخدمات
                                        قد نستخدم المعلومات الشخصية التي تقدمها لنا، أو قد يستخدمها أعضاء آخرون أو منشآت
                                        أخرى يتم اختيارها من قبلنا بعناية، وذلك
                                        لأغراض بحثية أو لتحليلات إحصائية أو لإخطارك بمنتجات أو خدمات أو فعاليات أو عروض
                                        أخرى قد تمثل لك أهمية. وإن كنت تفضل
                                        عدم تلقي معلومات تسويقية أو المشاركة في البحث، يرجى الاتصال بنا وإبلاغنا بذلك
                                    </p>
                                    <li>تبادل المعلومات الشخصية</li>
                                    <p>
                                        لن نقوم بإفشاء معلوماتك الشخصية لأي طرف ثالث؛ باستثناء قابلية تبادل تلك
                                        المعلومات مع التجار الذين قمت بشراء منتجاتهم أو
                                        بعض الجهات الرسمية أو آخرين إذا كان ذلك مطلوبًا أو مسموحًا به بموجب سلطة قضائية
                                        أو تنظيمية، وتبادل تلك المعلومات مع
                                        مقدمي الخدمة عبر الموقع، وسيتم أيضًا أحيانًا استخدام معلوماتك الشخصية وتحليلها
                                        من قبلنا أو من قبل شركات أخرى مصرح لها من
                                        جهات رسمية بموجب النظام
                                        قد نرسل المعلومات المحتفظ بها لدينا إلى مقدمي الخدمة، ويُعد إدخالك لبياناتك
                                        الشخصية في الموقع موافقة منك على هذا
                                        الاستخدام
                                    </p>
                                    <li>التعديلات على سياسة الخصوصية</li>
                                    <p>
                                        قد نقوم بتغيير سياسة الخصوصية إن لزم الأمر ومن وقت لآخر دون إشعار مسبق؛ ولهذا
                                        يتعين عليك مراجعتها دوريًا وتعد مسؤولاً عن
                                        الإطلاع على كل ما هو جديد قبل الوصول أو استخدام الموقع
                                    </p>
                                </ul>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">حماية البطاقات الإئتمانية</h5>

                                <hr>

                                <p>

                                    جميع التعاملات المالية على الموقع محمية ضد سرقة المعلومات وذلك لقيامنا بشراء خاصية
                                    SSL
                                    علماُ أنه لن يتم جمع معلومات أو حفظ أو بيع أو مشاركة معلومات البطاقات الإئتمانية و
                                    إذا كان لديكم أية معلومات بشأن أمان
                                    الموقع و التعاملات المالية عليه

                                </p>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">الملفات النصية (الكوكيز)</h5>

                                <hr>

                                <p>

                                    يتوجب عليك أن تعلم أنه من الممكن أن يتم جمع البيانات والمعلومات تلقائيًا من خلال
                                    استخدام تقنية الملفات النصية
                                    ("الكوكيز")، وهي ملفات نصية يتم من خلالها تخرين البيانات والمعلومات عن اهتمامات
                                    المستخدمين والتجار ومقدمي الخدمة، إلى
                                    جانب سجل خاص
                                    لكل مستخدم تسجل فيه معلومات محددة عن الصفحات التي تم الوصول إليها أو زيارتها من أجل
                                    متابعة سلوك المستخدمين لتحسين الموقع
                                    واستهداف الإعلانات

                                </p>
                            </div>

                            <div class="box">
                                <h5 class="rule-title">النظام الواجب التطبيق والمحاكم المختصة</h5>

                                <hr>

                                <p>

                                    تخضع سياسة الخصوصية هذه وتفسر وفقًا لأنظمة المملكة العربية السعودية، وأي نزاع يتعلق
                                    بهذه السياسة يخضع للاختصاص الحصري
                                    ‏للمحاكم في المملكة من المملكة العربية السعودية ‏بغض النظر عن الموقع الجغرافي

                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/main.js"></script>

</body>

</html>